# To test .gitconfig, run `git config -l` from a directory with a git repository.
# Check if user.email is set correctly.

[user]
	name = Thilo Maier
	email = git@maier.asia

	# Signing key for commits.
	signingkey = ~/.ssh/id_ed25519.pub

# Override user.email for work projects (last user.email wins).
[includeIf "gitdir:~/Projects/impierce/"]
  path = ~/Projects/impierce/.gitconfig

[gpg]
	format = ssh

[commit]
	gpgsign = true

[github]
	# GitHub username for command-line tools.
	user = maiertech

[init]
	defaultBranch = main

[color]
	# Colour terminal command output when possible.
	ui = auto

[pull]
	# Default to rebasing on pulls
	rebase = true

[fetch]
	# Always prune when fetching (and pulling).
	prune = true

[core]
	editor = code --wait

[alias]
	# Define new commands.

	## Show the commit log with a prettier, clearer history.
	pretty-log = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
	l = !git pretty-log || true

	# Shorten existing commands.
	p = pull
	s = status --short --branch

[credential]
	helper = osxkeychain
