[user]
	# Name used in commits.
	name = Thilo Maier
	# Email used in commits.
	email = git@maier.asia
[github]
	# GitHub username for command-line tools.
	user = maiertech	
[color]
	# Colour terminal command output when possible.
	ui = auto
[push]
	# Push to the set upstream branch being tracked by default.
	default = simple
[pull]
	# Default to rebasing on pulls
	rebase = true
[fetch]
	# Always prune when fetching (and pulling).
	prune = 1
[core]
	# Exclude this file.
	excludesfile = ~/.gitignore
	commitGraph = true
	editor = code --wait
[help]
 	# Autocorrect mistyped commands.
	autocorrect = 1
[alias]
	# Define new commands.

	## Show the commit log with a prettier, clearer history.
	pretty-one-line-log = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all

	# Shorten new commands.
	l = !git pretty-one-line-log || true

	# Shorten existing commands.
	p = pull
	s = status --short --branch
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[diff]
	# Use the slower but better patience diff algorithm.
	algorithm = patience
	# Use new diff algorithm to make e.g. function diffs look better.
	compactionheuristic = true
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[init]
	defaultBranch = main
