# To test .gitconfig, run `git config -l` from a directory with a git repository.
# Check if user.email is set correctly.

[user]
	name = Thilo Maier
	email = git@maier.asia

	# Signing key for commits.
	signingkey = ~/.ssh/id_ed25519.pub

# Override user.email for work projects (last user.email wins).
[includeIf "gitdir:~/projects/impierce/"]
  path = ~/projects/impierce/.gitconfig

[gpg]
	format = ssh

[commit]
	gpgsign = true

[github]
	# GitHub username for command-line tools.
	user = maiertech

[init]
	defaultBranch = main

[color]
	# Colour terminal command output when possible.
	ui = auto

[push]
	# Push to the set upstream branch being tracked by default.
	default = simple

[pull]
	# Default to rebasing on pulls
	rebase = true

[fetch]
	# Always prune when fetching (and pulling).
	prune = 1

[core]
	# Exclude this file.
	excludesfile = ~/.gitignore
	commitGraph = true
	editor = code --wait

[help]
 	# Autocorrect mistyped commands.
	autocorrect = 1

[alias]
	# Define new commands.

	## Show the commit log with a prettier, clearer history.
	pretty-one-line-log = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all

	# Shorten new commands.
	l = !git pretty-one-line-log || true

	# Shorten existing commands.
	p = pull
	s = status --short --branch

[diff]
	# Use the slower but better patience diff algorithm.
	algorithm = patience
	# Use new diff algorithm to make e.g. function diffs look better.
	compactionheuristic = true
  tool = default-difftool

[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE

[credential]
	helper = osxkeychain
